.navbar {
	width: 100%;
	height: 170px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h4 {
	color: white;
	font-size: 35px;
	margin-left: 50px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	margin-right: 120px;
}
